@font-face {
  font-family: Whyte;
  src: url("../fonts/ABCWhyte-Regular.woff");
  src: url("../fonts/ABCWhyte-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Whyte;
  src: url("../fonts/ABCWhyte-Medium.woff");
  src: url("../fonts/ABCWhyte-Medium.woff2");
  font-weight: 600;
  font-style: normal;
}

/* General Reset */
body {
  font-family:'Whyte', Arial, sans-serif;
  background-color: #121212; /* Dark background */
  color: white;
  margin: 20px;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap:24px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  gap:24px;
  width: 100%;
}

a{
  color: #FF4438;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column; 
  gap: 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  color: white;
}

.error-message{
  margin: 0;
  font-size: 14px;
  color: #FF4438;
}

.at-hide{
  display: none;
}

label {
  font-family: 'Whyte', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px; /* Inner padding */
  color: black;
  position: relative;
}

.input-wrapper input {
  border: none;
  outline: none;
  font-family: 'Whyte', Arial, sans-serif;
  font-size: 16px;
  flex: 1;
  padding: 5px 8px 5px 8px; /* Space for the icon on the left */
  caret-color: #FF4438;
}

.input-wrapper.show-icon input {
  border: none;
  outline: none;
  font-family: 'Whyte', Arial, sans-serif;
  font-size: 16px;
  flex: 1;
  padding: 5px 8px 5px 35px; /* Space for the icon on the left */
  caret-color: #FF4438;
}

.input-wrapper:focus-within {
  outline: none;
  border: 1px solid #FF4438; /* Inside border (red) */
  box-shadow: 0 0 0 3px #FFE1DF; /* Outside border (light red) */
}

.input-wrapper input::placeholder {
  color: #aaa;
}

/* Estilo base para el textarea */
.textarea-styled {
  font-size: 16px;
  font-family: 'Whyte', Arial, Helvetica, sans-serif;
  padding: 8px 12px; /* Espaciado interno */
  border: 1px solid #ccc;
  border-radius: 16px;
  color: #1B1915;
  outline: none;
  resize: vertical; /* Permite cambiar el tamaño verticalmente */
  min-height: 100px; /* Altura mínima para el área de texto */
  width:100%;
  caret-color: #FF4438;
}

/* Estado de foco */
.textarea-styled:focus {
  outline: none;
  border: 1px solid #FF4438; /* Inside border (red) */
  box-shadow: 0 0 0 3px #FFE1DF; /* Outside border (light red) */
}

/* Icon styles */
.icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-primary-button{
  display: flex;
  height: 52px;
  width: 120px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap:8px;
  color: white;
  font-family: 'Whyte', Arial, Helvetica, sans-serif;
  font-size: 18px;
  flex-shrink: 0;
  border-radius: 12px;
  border:none;
  background-color: #FF4438;
  box-shadow: 0px 1px 0px 0px rgba(37, 35, 32, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.at-primary-button:hover{
  background-color: #C8180D;
}

.at-primary-button:active{
  border-radius: 12px;
  background: #A5180F;
  box-shadow: 0px 1px 0px 0px rgba(37, 35, 32, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
  font-size: 17px;
}


/* Select */
.input-wrapper select {
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Whyte', Arial, sans-serif;
  font-size: 16px;
  height:34px;
  color: black;
  width: 100%;
  appearance: none;
  padding: 5px 8px;
  flex: 1;
}


.input-wrapper select option {
  color: black;
}

.input-wrapper select option:disabled {
  color: #aaa; /* Color gris para la opción deshabilitada (como un placeholder) */
}

.input-wrapper:focus-within select {
  color: black; /* Asegura que el color del texto no cambie en focus */
}

.input-wrapper select::placeholder {
  color: #aaa; /* No es soportado por select, pero lo dejo como referencia */
}

.input-wrapper select:focus {
  outline: none;
}

.chevron-icon {
  position: absolute;
  right: 15px;
  top: 25%;
  transform: translateY(-30%);
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: #aaa;  
}

.input-wrapper:focus-within .chevron-icon {
  color: #FF4438; /* Cambia el color del chevron en focus */
}

.privacy-policy-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:8px;
}

input[type="checkbox"] {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-color: #ffffff; 
  border: 1px solid #ccc;
  width: 20px; 
  height: 20px; 
  border-radius: 4px; 
  display: inline-block; 
  position: relative; 
  cursor: pointer; 
}


input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  border: none;
  outline: none !important; 
  box-shadow: none !important; 
  border: none !important; 
  border-radius: 4px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iMC4xNDE2MDIiIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgcng9IjIiIGZpbGw9IiNGRjQ0MzgiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC42ODY5IDQuNjQ2NDVDMTQuODgyMiA0Ljg0MTcxIDE0Ljg4MjIgNS4xNTgyOSAxNC42ODY5IDUuMzUzNTVMNy4zNTM1NiAxMi42ODY5QzcuMTU4MyAxMi44ODIxIDYuODQxNzEgMTIuODgyMSA2LjY0NjQ1IDEyLjY4NjlMMy4zMTMxMiA5LjM1MzU1QzMuMTE3ODYgOS4xNTgyOSAzLjExNzg2IDguODQxNzEgMy4zMTMxMiA4LjY0NjQ1QzMuNTA4MzggOC40NTExOCAzLjgyNDk2IDguNDUxMTggNC4wMjAyMyA4LjY0NjQ1TDcgMTEuNjI2MkwxMy45Nzk4IDQuNjQ2NDVDMTQuMTc1IDQuNDUxMTggMTQuNDkxNiA0LjQ1MTE4IDE0LjY4NjkgNC42NDY0NVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
}


